.invoiceForm {
  &__senderBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 23px;
    grid-row-gap: 25px;
  }
  &__receiverBlock{
    margin-top: 41px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 23px;
    grid-row-gap: 25px;
  }
  &__invoiceDateBlock {
    margin-top: 41px;
  }
  &__invoiceSelectDateBlock {
    margin-top: 25px;
  }
  &__labelProjectDescription {
    margin-top: 25px;
  }
  &__sectionHeading {
    grid-column: 1 / 3;
    @include headingSVariant;
    color: #7c5dfa;
  }
  &__label {
    display: flex;
    flex-direction: column;
  }
  &__labelStrretAdr {
    grid-column: 1/3;
  }
  &__labelCity {
    grid-column: 1/2;
  }
  &__labelpostCode {
    grid-column: 2/3;
  }
  &__labelCountry {
    grid-column: 1/3;
  }
  &__labelclientName {
    grid-column: 1/3;
  }
  &__labelclientMail {
    grid-column: 1/3;
  }
  &__labelclientStreet {
    grid-column: 1/3;
  }
  &__labelclientCity {
    grid-column: 1/2;
  }
  &__labelClientPostCode {
    grid-column: 2/3;
  }
  &__labelClientCountry {
    grid-column: 1/3;
  }
}
