:global {
  body[data-theme='dark'] {
    --linkBackColor: #ffffff;
    --InvDetBGColor: rgba(72, 84, 159, 0.1);
    --secondaryGrayDetailsColor: #dfe3fa;
  }
  body[data-theme='light'] {
    --linkBackColor: #0c0e16;
    --InvDetBGColor: #ffffff;
    --secondaryGrayDetailsColor: #7e88c3;
  }
}

.invoiceDetailsPage {
  height: 100dvh;
  @include pc_display {
    display: grid;
    grid-template-columns: 103px 1fr;
    grid-template-rows: 1fr;
  }
  &__backLinks {
    margin-top: 33px;
  }
  &__backLink {
    @include headingSVariant;
    line-height: normal;
    color: var(--linkBackColor);
    max-width: 80px;
    min-height: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__image {
      min-height: 9px;
    }
  }
  &__headingBar {
    margin-top: 31px;
  }
  &__infoBlock {
    margin-top: 16px;
    background-color: var(--InvDetBGColor);
    border-radius: 8px;
    box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
    padding: 25px 24px;
    &__heading {
      &__id {
        @include headingSVariant;
        line-height: normal;
        margin-bottom: 4px;
      }
      &__desc {
        @include bodyVariant;
        line-height: normal;
        color: var(--secondaryGrayDetailsColor);
      }
    }
  }
}

.header {
  @include pc_display {
    grid-column: 1 / 2;
    grid-row: 1;
  }
}

.hash {
  color: var(--secondaryGrayDetailsColor);
}
