.invoiceDetailsPage {
  height: 100dvh;
  @include pc_display {
    display: grid;
    grid-template-columns: 103px 1fr;
    grid-template-rows: 1fr;
  }
  &__controls {
    margin-top: 36px;
    @include tablet_display {
      margin-top: 62px;
    }
    @include pc_display {
      margin-top: 77px;
    }
  }
}

.header {
  @include pc_display {
    grid-column: 1 / 2;
    grid-row: 1;
  }
}
