.mainPage {
  height: 100dvh;
  @include pc_display {
    display: grid;
    grid-template-columns: 103px 1fr;
  }
  &__controls {
    margin-top: 36px;
  }
}

.header {
  @include pc_display {
    grid-column: 1 / 2;
  }
}
